@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	/* Colors */
	--color-background: #fafafa;
	--color-foreground: #171717;
	--color-outline: #ffffff45;
	--color-background-glass: #ffffff40;

	--color-accent: #f26a51;
	--color-accent-foreground: #fafafa;

	--color-tooltip: #171717bf;

	/* Fonts */
	--font-slab: 'Roboto Slab', serif;

	/* Shadows */
	--shadow-glass-light: inset 0.125rem 0.125rem 0.125rem 0px
		rgba(255, 255, 255, 0.12);
	--shadow-glass-dark: inset -0.125rem -0.125rem 0.125rem 0px
		rgba(0, 0, 0, 0.08);
	--shadow-glass-light-lg: inset 0.25rem 0.25rem 0.25rem 0px
		rgba(255, 255, 255, 0.12);
	--shadow-glass-dark-lg: inset -0.25rem -0.25rem 0.25rem 0px
		rgba(0, 0, 0, 0.08);

	--animate-fadeIn: fadeIn 0.15s ease;
	@keyframes fadeIn {
		0% {
			opacity: 0;
			transform: translateY(0.5rem);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	--animate-message-in: message-in 0.25s ease backwards;
	@keyframes message-in {
		0% {
			opacity: 0;
			transform: translateY(1rem) scale(0.95);
		}
		100% {
			opacity: 1;
			transform: translateY(0) scale(1);
		}
	}

	--animate-fade-in: fade-in 1s ease 0.1s both;
	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

@variant dark {
	--color-background: #171717;
	--color-foreground: #fafafa;
	--color-outline: #c8c8c842;
	--color-background-glass: #ffffff0f;
	--color-tooltip: #fafafabf;
	color-scheme: dark;
}

@layer utilities {
	.bg-glass {
		@apply bg-background-glass rounded-3xl border shadow-lg shadow-black/5 backdrop-blur-[.2rem];
	}

	.bg-glass-pane {
		@apply bg-background-glass shadow-black/5 backdrop-blur-[.2rem];
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

@layer base {
	* {
		@apply border-[var(--color-outline)];
	}

	::selection {
		@apply text-accent bg-[#171717];
	}

	html,
	body {
		width: 100%;
		height: 100%;
		min-height: calc(100svh + env(safe-area-inset-top));
	}

	body {
		@apply bg-background text-foreground;
		font-family: var(--font-roboto-flex), Helvetica, sans-serif;
	}

	pre,
	code {
		font-family: var(--font-roboto-mono), Helvetica, sans-serif;
		@apply text-sm;
	}

	pre {
		@apply rounded-md text-sm;
	}
}
