@import 'tailwindcss';

:root {
	--background: #fafafa;
	--foreground: #171717;
}

@theme {
	/* Colors */
	--color-background: #fafafa;
	--color-foreground: #171717;
	--color-accent: #78bcf7;
	--color-accent-secondary: #1b98e0;
	--color-accent-tertiary: #088531;
	--color-accent-quaternary: #dda684;
	--color-accent-foreground: #fafafa;
	--color-accent-foreground-secondary: #cec9c9;
	--color-background-glass: rgba(250, 250, 250, 0.1);

	/* Shadows */
	--shadow-glass-light: inset 0.125rem 0.125rem 0.125rem 0px
		rgba(255, 255, 255, 0.12);
	--shadow-glass-dark: inset -0.125rem -0.125rem 0.125rem 0px
		rgba(0, 0, 0, 0.08);
	--shadow-glass-light-lg: inset 0.25rem 0.25rem 0.25rem 0px
		rgba(255, 255, 255, 0.12);
	--shadow-glass-dark-lg: inset -0.25rem -0.25rem 0.25rem 0px
		rgba(0, 0, 0, 0.08);
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	@apply bg-background text-foreground;
	font-family: var(--font-roboto-flex), Helvetica, sans-serif;
}

pre,
code {
	font-family: var(--font-roboto-mono), Helvetica, sans-serif;
	@apply text-sm;
}

pre {
	@apply rounded-md text-sm;
}
