@keyframes moveGrid {
	0% {
		transform: scale(2.2) rotate(-12deg) translate(0, 0);
	}
	10% {
		transform: scale(2.15) rotate(-10deg) translate(2rem, 1rem);
	}
	20% {
		transform: scale(2.1) rotate(-8deg) translate(4rem, 2rem);
	}
	30% {
		transform: scale(2.25) rotate(-6deg) translate(6rem, 3rem);
	}
	40% {
		transform: scale(2.3) rotate(-4deg) translate(8rem, 4rem);
	}
	50% {
		transform: scale(2.35) rotate(-4deg) translate(6rem, 3rem);
	}
	60% {
		transform: scale(2.3) rotate(-6deg) translate(4rem, 2rem);
	}
	70% {
		transform: scale(2.25) rotate(-8deg) translate(2rem, 1rem);
	}
	80% {
		transform: scale(2.2) rotate(-10deg) translate(0rem, 0rem);
	}
	90% {
		transform: scale(2.2) rotate(-11deg) translate(-0.5rem, -0.5rem);
	}
	100% {
		transform: scale(2.2) rotate(-12deg) translate(0, 0);
	}
}

@keyframes gridLineShootH {
	0% {
		transform: scaleX(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scaleX(1);
		opacity: 1;
	}
}

@keyframes gridLineShootV {
	0% {
		transform: scaleY(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scaleY(1);
		opacity: 1;
	}
}

@keyframes gridFadeIn {
	0% {
		opacity: 0;
	}
	70% {
		opacity: 0.15;
	}
	85% {
		opacity: 0.2;
	}
	100% {
		opacity: 0.12;
	}
}

@keyframes gridFadeInDark {
	0% {
		opacity: 0;
	}
	70% {
		opacity: 0.04;
	}
	85% {
		opacity: 0.06;
	}
	100% {
		opacity: 0.03;
	}
}

.page {
	position: relative;
	background-image: url('/background.webp');
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scale(2.2) rotate(-12deg) translate(0, 0);
		mix-blend-mode: color-dodge;
		opacity: 0;
		background-image:
			repeating-linear-gradient(
				to right,
				#ccc 0,
				#ccc 0.05rem,
				transparent 0.1rem,
				transparent 0.5rem
			),
			repeating-linear-gradient(
				to bottom,
				#ccc 0,
				#ccc 0.05rem,
				transparent 0.1rem,
				transparent 0.5rem
			);
	}

	&.gridAnimating::before {
		animation: 
			gridFadeIn 1.2s ease-out forwards,
			moveGrid 180s ease-in-out infinite 1.5s;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
		background-image: url(/noise.svg);
		mix-blend-mode: color-burn;
		opacity: 1;
	}

	& > * {
		z-index: 1;
	}

	[data-theme='dark'] & {
		&::before {
			opacity: 0;
		}
		
		&.gridAnimating::before {
			animation: 
				gridFadeInDark 1.2s ease-out forwards,
				moveGrid 180s ease-in-out infinite 1.5s;
		}
	}
}

.componentsEnter {
	& > * {
		animation: slideUpFadeIn 0.8s ease-out forwards;
	}
}

@keyframes slideUpFadeIn {
	0% {
		opacity: 0;
		transform: translateY(2rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
